* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: aliceblue;
    width: 100%;
    background-color: rgb(41, 41, 107);

}

a {
    font-style: normal;
    color: azure;
    font-size: larger;
    text-decoration: none;

}

header {
    padding: 5px;
    background-color: rgb(26, 26, 53);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

#global {
    padding: 30px;
    width: 60%;
    display: flex;
    column-gap: 10px;
}

#login {
    align-self: flex-start;
    font-size: x-small;
}

#search {
    align-self: flex-end;
    background-color: rgb(72, 72, 160);
    border: 3px;
    border-radius: 3px;
    height: 30px;
    width: 370px;
    padding: 5px;
    color: aliceblue;


}
#search::placeholder{
    color: aliceblue;
}

#subHeader {
    background-color: rgb(48, 48, 80);
    padding: 10px 0;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.75);
    font-size: small;
    display: flex;
    width: 100%;
    justify-content: space-around;
    column-gap: 50px;
    align-items: center;
}

#subHead {
    column-gap: 20px;
}

.minorImgs {
    max-width: 220px;
    padding: 3px;
    padding-left: 0;
}

#logo {
    float: inline-start; 
}
main{
    display: flex;
}
#mainImage{
    background-image: url(/aula8/imgs/capsule_616x353\ \(1\).jpg);
    
    box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.75)0px;
}
#titleTxt{
    font-size: xx-large;
    padding-left: 15px;
}
#availableTxt{
    padding-left: 15px;
    font-size: large;
}
#priceTxt{
    font-size: medium;
}
#famousTxt{
    font-size: large;
}
main{
    align-items: center;
    align-self: center;
    padding: auto;
    max-width: 76%;
    flex-direction: row;
    display: flex;
    background-color: rgb(32, 32, 58);
}
#preMain{
    color: aliceblue;
    margin-left: 12%;
    margin-bottom: 5px;
}

button {
    background-color: rgb(16, 188, 16);
    border: 0;
    color: white;
    width: 130px;
    height: 25px;
    text-align: center;
}

main:hover{
    transform: scale(500);
    transform: rotate(3573deg);
    transition: 20000ms;
}